.groupedCard:not(:first-of-type) {
    position: relative;
}


.groupedCard img {
    max-height: 250px;
}

.groupedCard{
    box-shadow: 2px 2px 10px black;
    background-color: transparent;
    max-height: 250px;
}