#manualDeal{
    padding: 1em;
}

#qrCodeWrapper{

}

.dealtQRCode{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}