#manualDeal{
    padding: 1em;
}

.dealtQRCode{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundTint{
    background-color: rgba(255, 0, 0, 0.2);
}