.nameListEntry{
    display: inline-block;
}

#playsetWrapper {
    background-color: white;
    position: sticky;
    top: 0px;
}

#playsetRow {
    display: flex;
    flex-direction: row;
    max-height: 35vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;

    overflow-y: visible;

    box-sizing: border-box;

}